{
  "apiKey": "AIzaAAAAAAAAAAAAAAAAAAAAAAA",
  "authDomain": "aaaaaaaaaaaaaaa-aaaaa.firebaseapp.com",
  "projectId": "aaaaaaaaaaaaaa-aaaaa",
  "storageBucket": "aaaaaaaaaaaaaa-aaaaa.appspot.com",
  "messagingSenderId": "123123412341234123",
  "appId": "1:123123412341234123:aaa:aaaaaaaaaaaaaaaaaa"
}
