{
  "twitter": {
    "profiles": {
      "elonmusk": {
        "patterns": [ "coin", "doge", "moon", "hold", "hodl" ]
      },
      "mcuban": {
        "patterns": [ "coin", "doge" ]
      }
    }
  }
}
