{
  "consumer": {
    "key": "LkD2x2Z2x2Z2x2Z2x2Z2kDBOdQr",
    "secret": "Z2x2Z2x2Z2x2Z2x2Z2x2Z2x2Z2x2Z2x2"
  },
  "app": {
    "bearer": "AAAAAAAAAAAAAAAAAAAAAMDQPAEAAAAAI%AAAAAAAAAAAAAAAAAA%AAAAAAAAAAAAAAAAAA"
  }
}
